/*Abel font*/
@font-face {
  font-family: Abel;
  src: url("../fonts/Abel/Abel-Regular.ttf");
}

/*Anton*/
@font-face {
  font-family: Anton;
  src: url("../fonts/Anton/Anton-Regular.ttf");
}

/*Josefin*/
@font-face {
  font-family: Josefin;
  src: url("../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}

/*Lexend*/
@font-face {
  font-family: Lexend;
  src: url("../fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf");
}

/*Livvic*/
@font-face {
  font-family: Livvic;
  src: url("../fonts/Livvic/Livvic-Regular.ttf");
}
